.jumbotron-height{
  max-height: 50%;
}

.image-height{
  max-height: 50%;
}
.jumbotron-margin{
  margin-left: 2%;
  margin-right: 2%;
}
.progress-bar-margin{
  margin-top: 7%;
}
.margin-tron{
  margin-top: 2%
}

.questionTable {
  margin-left: 5%;
  margin-right: 5%;
}
