.start-background{
  background-size: cover;
}
.back{
  background-image: url("../../assets/Asset.svg");
}
.jumbotron-class{
  text-align:left;
  height: 100vh;
  margin-bottom: 0;
}

.jumbotron-margin{
  margin-bottom: 5%;
  margin-top: 5%;
}

.sub-container-class{
  text-align:left;
  max-width: 30%;
}
