<!--<div class="container h-100">-->
<!--  <div class="d-flex h-100">-->
<!--    <div class="align-self-center mx-auto">-->
<!--      <button type="button" class="btn btn-outline-success" routerLink="/test">-->
<!--        Start Test      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


  <div class="jumbotron jumbotron-class back start-background">
    <h1 class="jumbotron-margin text-success">Welcome</h1>

      <p class="sub-container-class text-success text-left">Edu Care is product in which new tests are rolled out everyday in order to help the candidate learn in a better and efficient way </p>

    <div class="jumbotron-margin col-md-3">
      <div class="input-group mb-2" >
        <select class="custom-select"  [(ngModel)]="globals.cls">
          <option *ngFor="let cl of classes" [ngValue]="cl.value">{{cl.class}}</option>
        </select>
        <div class="input-group-append">
          <button type="button" class="btn btn-soft-success btn-wide transition-3d-hover" routerLink="/test">
            Start Test</button>
        </div>
      </div>
    </div>
</div>
