.start-background{
  background-size: cover;
}
.back{
  background-image: url("../../assets/Asset.svg");
}
.jumbotron{
  text-align:left;
  height: 100vh;
}

.jumbotron-margin{
  margin-bottom: 5%;
  margin-top: 5%;
}
