.start-background{
  background-image: url("https://ma-content.s3.amazonaws.com/post-images/house_smoke.gif");
  background-size: cover;
  background-position:  center center;


}

.jumbotron{
  text-align:center;
}
.jumbotron-margin{
  margin-bottom: 5%;
  margin-top: 5%;
}
